  <div  class="bg" nz-row>
    <div nz-col nzXs="4" nzSm="4" nzMd="6" nzLg="8" nzXl="10"></div>
    <div nz-col nzXs="16" nzSm="16" nzMd="12" nzLg="8" nzXl="4">
      <ng-http-loader></ng-http-loader>
      <article nz-typography>
        <h1 nz-typography> 寻迹<fa-icon [icon]="faCoffee" [spin]="true"  size="lg"  ></fa-icon></h1>
        <p nz-typography>
          <span nz-typography><kbd> 搜索浏览内容</kbd></span>
        </p>
      </article>
      <div>
        <h3>登录</h3>
        <form nz-form  [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()" >
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
              <nz-input-group nzPrefixIcon="user">
                <input type="text" nz-input formControlName="userName" placeholder="Username" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
              <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="password" placeholder="Password" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
        </form>
      </div>
    </div>
    <div nz-col nzXs="4" nzSm="4" nzMd="6" nzLg="8" nzXl="10"></div>
  </div>
