.ant-layout{
  background-color: #FFFFFF;
  .ant-layout-header{
    width: 60%;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    margin-top: 1em;
    height: 100%;
    .content{
      flex: 1 1 0;
      .ant-input-affix-wrapper{
        border-radius: 1em;
      }
    }
  }
  .ant-layout-content{
    padding: 0px 50px;
    .ant-list-lg .ant-list-item:hover{
      background-color:rgb(248, 249, 250);
    }
    .ant-typography{
      h6{
        font-size: 17px;
        a{
          display: inline-block;
          width: 20%;
          overflow:hidden;
          vertical-align: middle;
          text-overflow:ellipsis;
          white-space:nowrap;
          word-break:keep-all;
        }
        i{
          font-size: 13px;
          cursor: pointer;
          color: #1890ff;
        }
      }
    }
  }
  .ant-layout-footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    z-index: 10000;
    a{
      padding-left: 1em;
    }
  }
}
