.ant-layout{
  background-color: #FFFFFF;
  .ant-layout-header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    margin-top: 1em;
    height: 100%;
    .content{
      flex: 1;
      display: flex;
      justify-content:space-between;
      .ant-list-lg .ant-list-item:hover{
        background-color:rgb(248, 249, 250);
      }
      .ant-input-affix-wrapper{
        border-radius: 1em;
      }
      .input{
        flex: 2;
      }
      .select{
        flex: 1;
        margin-left: 10px;
        text-align: right;
      }
    }
  }
  .ant-layout-content{
    padding: 0px 50px;
    .ant-typography{
      h6{
        font-size: 17px;
        a{
          display: inline-block;
          width: 20%;
          overflow:hidden;
          vertical-align: middle;
          text-overflow:ellipsis;
          white-space:nowrap;
          word-break:keep-all;
        }
        i{
          font-size: 13px;
          cursor: pointer;
          color: #1890ff;
        }
      }
    }
   
  }
  .cover{
    height: 70px;
    .ant-layout-footer{
      margin-top: 10px;
      position: fixed;
      width: 100%;
      bottom: 0;
      overflow: hidden;
      z-index: 10000;
      a{
        padding-left: 1em;
      }
    }
  }
  
}
