<nz-layout>
  <nz-header>
    <div class="content" nzSearch>
      <div class="input">
        <nz-input-group  nzSize="large"  [nzSuffix]="suffixIconSearch">
          <input type="search"   [(ngModel)]="searchString"   (ngModelChange)="handleSearchChange($event)"  nz-input placeholder="在寻记上搜索历史内容"  />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <fa-icon [icon]="faTimes" (click)="handleError() " ></fa-icon>
        </ng-template>
        <div class="result" *ngIf="isShow">
          <ul nz-list [nzDataSource]="data" nzSize="large">
            <li (click)="handleResule(item)" nz-list-item *ngFor="let item of data" nzNoFlex>
              <ul nz-list-item-actions>
                <nz-list-item-action>
                  <fa-icon [icon]="faSearch" (click)="handleSearch() " [spin]="true" ></fa-icon>
                </nz-list-item-action>
              </ul>
              {{ item }}
            </li>
          </ul>
        </div>
      </div>
      <div class="select">
        <a nz-dropdown [nzDropdownMenu]="menu">
          <fa-icon [icon]="faBars"  ></fa-icon>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item (click)="showModalTop()" >黑名单管理</li>
            <li nz-menu-item (click)="handleQuit()">退出</li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </nz-header>
  <nz-divider></nz-divider>
  <nz-content>
    <p>找到约 {{datalength}} 条结果</p>
    <div *ngIf="lists?.list">
      <article  nz-typography  *ngFor="let item of lists.list">
        <h6 nz-typography><a href="{{item.url}}">{{item.title}}</a><fa-icon [icon]="isDownUp?faAngleDown:faAngleUp" (click)="handleadIconDown()"fa-lg ></fa-icon><i (click)="handleTodo()" >{{isDownUp?item.username:item.created_at}}</i></h6>
        <p nz-typography
        nzEllipsis
        [nzEllipsisRows]="2"
        >
          {{item.content}} 时间：{{item.created_at}} username :{{item.username}}
        </p>
      </article>
    </div>
    <div class="paginantion">
      <nz-pagination [nzHideOnSinglePage] *ngIf="lists?.list" [nzPageIndex]="PageIndex" [nzTotal]="Total" nzShowSizeChanger [nzPageSize]="PageSize" (nzPageIndexChange)="handlePageindexChange($event)" (nzPageSizeChange)="handlePageSize($event)"></nz-pagination>
    </div>
   </nz-content>
   <nz-modal
     [nzStyle]="{ top: '30px' }"
     [(nzVisible)]="isVisibleTop"
     (nzOnCancel)="handleCancelTop()"
     (nzOnOk)="handleOkTop()"
     nzKeyboard="false"
     #rowSelectionTable
     nzWidth='60%'
     nzMaskClosable="false"
     nzCloseOnNavigation="false"
     (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
   >
     <ng-container *nzModalContent>
      <h4>黑名单管理</h4>
      <nz-table nzTemplateMode nzBordered  [nzScroll] = "{ x: '300px', y: '300px' }" [nzLoadingDelay]=1000 nzSize="middle">
        <thead>
          <tr>
            <th>是否启用</th>
            <th>模式 不记录 2记录</th>
            <th>模式 域名通配符 2正则</th>
            <th>匹配规则一行一个</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of blackList">
            <!-- <td>{{ data?.id }}</td>
            <td>{{ data?.username }}</td> -->
            <!-- {{ data?.enable }}   -->
            <td><label nz-checkbox [(ngModel)]="data.enable" (ngModelChange)="handleCheckChange($event,data)"></label> </td>
            <!-- {{ data?.mode }} -->
            <td><nz-select [ngModel]="data.mode" (ngModelChange)="handleSelectChange($event,data)" [nzDropdownStyle]="{background:'#ffffff'}">
              <nz-option [nzValue]="1" nzLabel="不记录"></nz-option>
              <nz-option [nzValue]="2" nzLabel="记录"></nz-option>
            </nz-select> </td>
            <!-- {{ data?.match_pattern }} -->
            <td>
              <nz-select [ngModel]="data.match_pattern" (ngModelChange)="handlePatternChange($event,data)"  [nzDropdownStyle]="{background:'#ffffff'}">
                <nz-option [nzValue]="1" nzLabel="域名通配符"></nz-option>
                <nz-option [nzValue]="2" nzLabel="正则"></nz-option>
              </nz-select>
            </td>
            <!-- {{ data?.rules }} -->
            <td>
              <textarea rows="1" nz-input (ngModelChange)="handleChangemodel($event,data)"  [ngModel]=data?.rules  placeholder="'匹配规则一行一个'" ></textarea>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <nz-card>

            <!-- <nz-pagination
            [nzHideOnSinglePage]
            [nzPageIndex]="tablePageIndex"
            [nzTotal]="Totals"
            nzShowSizeChanger
            [nzPageSizeOptions]="nzPageSizeOptions"
            [nzPageSize]="tablePageSize"
            (nzPageIndexChange)="handletableindexChange($event)"
            (nzPageSizeChange)="handletableSize($event)"
            >
          </nz-pagination> -->

        </nz-card>
     </ng-container>
   </nz-modal>
   <div class="cover">
    <nz-footer>Made with ❤ by SEARCH-TRACE-SERVER © 2022  Powered by   <a href="https://p00q.cn/">淡白</a>   <a href="https://www.bibooo.top/">Bibooo</a> </nz-footer>
   </div>

</nz-layout>
