.bg{
  width: 100%;
  height: 100vh;
  background-image: url("../../../../assets/imager/home-bg.png");
  background-size: cover;
  display: flex;
  align-items: safe center;
  .header{
    text-align: center;
    margin-bottom: 20px;
  }
  .content{
    padding: 20px;
  }


  .ant-btn-group-sm>.ant-btn:only-child, .ant-btn-group-sm>span:only-child>.ant-btn, .ant-btn-group>.ant-btn:only-child, .ant-btn-group>span:only-child>.ant-btn, .ant-card {
    border-radius: 20px;
}
.ant-input-affix-wrapper {
  border: none !important;
}
}
