<nz-layout>
  <nz-header>
    <div class="content" nzSearch>
      <div class="input">
        <nz-input-group  nzSize="large"  [nzSuffix]="suffixIconSearch">
          <input type="search"   [(ngModel)]="searchString"   (ngModelChange)="handleSearchChange($event)" (keyup.enter)="EnterGetData(searchString)"   nz-input placeholder="在寻记上搜索历史内容"  />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <fa-icon [icon]="faTimes" (click)="handleError() " ></fa-icon>
        </ng-template>
        <div class="result" *ngIf="isShow">
          <ul nz-list [nzDataSource]="data" nzSize="large">
            <li (click)="handleResule(item)" nz-list-item *ngFor="let item of data" nzNoFlex>
              <ul nz-list-item-actions>
                <nz-list-item-action>
                  <fa-icon [icon]="faSearch" (click)="handleSearch() " [spin]="true" ></fa-icon>
                </nz-list-item-action>
              </ul>
              {{ item }}
            </li>
          </ul>
        </div>
      </div>
      <div class="select">
        <a nz-dropdown [nzDropdownMenu]="menu">
          <fa-icon [icon]="faBars"  ></fa-icon>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item (click)="showModalTop()">黑名单管理</li>
            <li nz-menu-item (click)="showUserAdmin()">用户管理</li>
            <li nz-menu-item (click)="handleQuit()">退出</li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </nz-header>
  <nz-divider></nz-divider>
  <nz-content>
    <ng-http-loader></ng-http-loader>
    <p *ngIf="datalength">找到约 {{datalength}} 条结果</p>
    <div *ngIf="lists?.list">
      <article  nz-typography  *ngFor="let item of lists.list">
        <h6 nz-typography><a href="{{item.url}}">{{item.title}}</a>
<!-- <fa-icon [icon]="isDownUp?faAngleDown:faAngleUp" (click)="handleadIconDown()"fa-lg ></fa-icon>-->
<!--          <i (click)="handleTodo()" >{{isDownUp?item.username:item.created_at}}</i></h6>-->

          <i style="padding-left:'10px'">{{item.url | UrlRealsPipe}}</i> <span style="float: right">{{item.created_at}}</span></h6>
        <p nz-typography
        nzEllipsis
        [nzEllipsisRows]="2"
        >
          {{item.content}} 时间：{{item.created_at}} username :{{item.username}}
        </p>
      </article>
      <div class="paginantion">
        <nz-pagination [nzHideOnSinglePage] *ngIf="lists?.list" [nzPageIndex]="PageIndex" [nzTotal]="Total" nzShowSizeChanger [nzPageSize]="PageSize" (nzPageIndexChange)="handlePageindexChange($event)" (nzPageSizeChange)="handlePageSize($event)"></nz-pagination>
      </div>
    </div>
   </nz-content>
<!--   黑名单-->
   <nz-modal
     [nzBodyStyle]="{padding:'11px'}"
     [nzStyle]="{ top: '30px' }"
     [(nzVisible)]="isVisibleTop"
     (nzOnCancel)="handleCancelTop()"
     (nzOnOk)="handleOkTop()"
     nzKeyboard="false"
     nzWidth="100%"
     nzMaskClosable="false"
     nzCloseOnNavigation="false"

   >
     <ng-container *nzModalContent>

      <h4>黑名单管理</h4>
       <button nz-button (click)="addRow()" nzType="primary">Add</button>
       <nz-drawer
         [nzClosable]="false"
         [nzVisible]="visible2"
         nzPlacement="top"
         (nzOnClose)="closeDrawer()"
         nzHeight="240px"
       >
         <ng-container *nzDrawerContent>
           <nz-card>
             <label nz-checkbox [(ngModel)]="checked" (ngModelChange)="handleCheckbox($event)">是否启用</label>
             <div>
               <nz-select [ngModel]=1  (ngModelChange)="handleAddrecord($event)">
                 <nz-option  [nzValue]="1" nzLabel="不记录"></nz-option>
                 <nz-option [nzValue]="2" nzLabel="记录"></nz-option>
               </nz-select>
               <nz-select [ngModel]=1 (ngModelChange)="Adddomain($event)" >
                 <nz-option [nzValue]="1" nzLabel="域名通配符"></nz-option>
                 <nz-option [nzValue]="2" nzLabel="正则"></nz-option>
               </nz-select>
             </div>
             <input nz-input placeholder="规则名字" [(ngModel)]="rename" (ngModelChange)="handleRulename($event)"/>
             <textarea rows="1" nz-input placeholder="记录规则，一行一个" [(ngModel)]="textarea"  (ngModelChange)="handletextAr($event)"></textarea>
             <a nz-button nzType="link" (click)="handleAddbtn()">添加</a>
           </nz-card>

         </ng-container>
       </nz-drawer>
       <nz-table #basicTable nzBreakWord="true"  nzTableLayout="fixed" nzBordered   nzEllipsis  [nzFrontPagination]="false" [nzData]="blackList">
         <thead>
         <tr class="table-flex">
           <th nzWidth="25%" >用户名字</th>
           <th nzWidth="25%" >是否启用</th>
           <th nzWidth="25%" >是否记录</th>
           <th nzWidth="25%" >条件类型</th>
           <th nzWidth="25%" >匹配规则</th>
           <th nzWidth="25%" >规则名字</th>
           <th nzWidth="25%" >编辑菜单</th>
         </tr>
         </thead>
         <tbody>
         <tr *ngFor="let data of basicTable.data" class="table-tr">
           <ng-container *ngIf="!isEdit; else editTemplate">
             <td>{{ data?.username }}</td>
             <td [nzChecked]="data?.enable" [nzDisabled]="true" (nzCheckedChange)="handleSelectChange($event)"></td>
             <td>
               <nz-select nzDisabled [ngModel]="data?.mode" (ngModelChange)="handleSelectChange($event)" [nzDropdownStyle]="{background:'#ffffff'}">
                 <nz-option  [nzValue]="1" nzLabel="不记录"></nz-option>
                 <nz-option [nzValue]="2" nzLabel="记录"></nz-option>
               </nz-select>
             </td>
             <td>
              <nz-select nzDisabled [ngModel]="data.match_pattern" (ngModelChange)="handlePatternChange($event)"  [nzDropdownStyle]="{background:'#ffffff'}">-->
              <nz-option [nzValue]="1" nzLabel="域名通配符"></nz-option>-->
              <nz-option [nzValue]="2" nzLabel="正则"></nz-option>-->
              </nz-select>
               </td>
             <td><textarea  [nzAutosize]="true" disabled rows="1" nz-input  [ngModel]=data?.rules ></textarea></td>
             <td><input nz-input  [(ngModel)]="data.name" [disabled]="true" /></td>
             <td><a (click)="startEdit(data.id)">Edit</a></td>
           </ng-container>
           <ng-template #editTemplate>
             <td>{{ data?.username }}</td>
             <td><label nz-checkbox [(ngModel)]="data.enable" (ngModelChange)="handleCheckChange($event)"></label></td>
             <td>
               <nz-select [ngModel]="data?.mode" (ngModelChange)="handleSelectChange($event)" [nzDropdownStyle]="{background:'#ffffff'}">
                 <nz-option [nzValue]="1" nzLabel="不记录"></nz-option>
                 <nz-option [nzValue]="2" nzLabel="记录"></nz-option>
               </nz-select>
             </td>
             <td>
               <nz-select [ngModel]="data.match_pattern" (ngModelChange)="handlePatternChange($event)"  [nzDropdownStyle]="{background:'#ffffff'}">-->
                 <nz-option [nzValue]="1" nzLabel="域名通配符"></nz-option>-->
                 <nz-option [nzValue]="2" nzLabel="正则"></nz-option>-->
               </nz-select>
             </td>
               <td> <textarea rows="1" nz-input (ngModelChange)="handleChangemodel($event)"  [ngModel]='data?.rules'  placeholder="'匹配规则一行一个'" ></textarea></td>
             <td><input nz-input  [(ngModel)]="data.name" (ngModelChange)="handleRulename($event)" /></td>
             <td style="display: flex;justify-content: space-around">
               <a (click)="saveEdit(data.id)" class="save">修改</a>
               <a nz-popconfirm nzPopconfirmTitle="是否删除？" (nzOnConfirm)="cancelEdit(data.id)">删除</a>
             </td>
           </ng-template>
         </tr>
         </tbody>
       </nz-table>

      <nz-card>
           <nz-pagination
            [nzPageIndex]="tablePageIndex"
            [nzTotal]="Totals"
            nzShowSizeChanger
            [nzPageSizeOptions]="nzPageSizeOptions"
            [nzPageSize]="tablePageSize"
            (nzPageIndexChange)="handletableindexChange($event)"
            (nzPageSizeChange)="handletableSize($event)"
            >
          </nz-pagination>
        </nz-card>
     </ng-container>
   </nz-modal>
<!--  用户 -->
  <nz-modal [(nzVisible)]="isVisible1"  (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" >
    <ng-container *nzModalContent>
      <nz-card>
      <a nz-button nzType="link" (click)="handleaddUser()">添加用户</a>
        <nz-table  *ngIf="!isUser;else addlisturl" nzSize="middle" >
          <thead>
          <tr>
            <th>Name</th>
            <th>email</th>
            <th>role</th>
            <th>acction</th>
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let item of users">
            <td><a>{{ item.name }}</a></td>
            <td> <a>{{ item.email }}</a></td>
            <td>{{ item.role }}</td>
            <td><a
              nz-popconfirm
              nzPopconfirmTitle="Are you sure delete this task?"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="deleteuser(item.id)"
            >
              Delete
            </a> <a  (click)="showConfirm(item)">修改密码</a></td>
          </tr>
          </tbody>
        </nz-table>

      </nz-card>
    </ng-container>
    <ng-template #addlisturl>
      <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your username!">
            <nz-input-group nzPrefixIcon="user">
              <input formControlName="userName" nz-input placeholder="Username" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input formControlName="password" nz-input type="password" placeholder="Password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Please input your email!">
            <nz-input-group nzPrefixIcon="mail">
              <input formControlName="email" nz-input type="email" placeholder="email" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
              <button nz-button [disabled]="!validateForm.valid" nzType="dashed">提交</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </ng-template>

  </nz-modal>
  <nz-modal [(nzVisible)]="isVisible3" nzTitle="The first Modal" (nzOnCancel)="handlePassCancel()" (nzOnOk)="handlePassOk()">
    <ng-container *nzModalContent>

           <nz-input-group nzPrefixIcon="lock">
             <input  nz-input  placeholder="Password" />
           </nz-input-group>
    </ng-container>
  </nz-modal>
   <div class="cover">
    <nz-footer>Made with ❤ by SEARCH-TRACE-SERVER © 2022  Powered by   <a href="https://p00q.cn/">淡白</a>   <a href="https://www.bibooo.top/">Bibooo</a> </nz-footer>
   </div>

</nz-layout>
